<%= form_for [@event, comment], data: { turbo: false } do |f| %>
  <%= render partial: 'partials/form_errors', locals: {errors: comment.errors} %>

  <div class="field mb-3">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <% unless user_signed_in? %>
    <div class="field mb-3">
      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'form-control' %>
    </div>
  <% end %>

  <div class="actions mb-5">
    <%= f.submit t('views.comments.comment.submit_text'), class: 'btn btn-primary' %>
  </div>
<% end %>
