<%= form_for @user, html: {multipart: true}, data: { turbo: false } do |f| %>
  <%= render partial: 'partials/form_errors', locals: {errors: @user.errors} %>

  <div class="field mb-3">
    <%= f.label :name, class: 'fw-bold' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= f.label :email, class: 'fw-bold' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= f.label :avatar, class: 'fw-bold' %>
    <p><%= image_tag(@user.avatar.thumb.url) if @user.avatar? %></p>
    <%= f.file_field :avatar %>
  </div>

  <div class="actions mb-2">
    <%= f.submit t('views.buttons.save'), class: 'btn btn-primary' %>
    <%= t('views.general.or') %> <%= link_to t('views.buttons.cancel'), :back %>
  </div>
<% end %>
