<h2><%= t('views.users.password.forgot.title') %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render partial: 'partials/form_errors', locals: {errors: resource.errors} %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit t('views.users.password.forgot.action') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
