<div class="row w-100 mx-0">
  <div class="col-lg-6 offset-lg-3">
    <h1 class='mb-4'><%= t('views.events.pincode.title') %></h1>

    <%= form_tag(event_path(@event), method: 'post', data: { turbo: false }) do |f| %>
      <div class='field mb-3'>
        <%= label_tag :pincode, t('activerecord.attributes.event.pincode'), class: 'fw-bold' %>
        <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
      </div>

      <div class='actions mb-2'>
        <%= submit_tag t('views.events.pincode.action'), class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= link_to t('views.links.events'), events_path %>
  </div>
</div>
