<div class="event">
  <div class="event-info row">
    <div class="col-md-12">
      <%= content_tag 'div', '', class: 'event-background',
                      style: "background-image: url(#{asset_path('event.jpg')})" %>

      <div class="event-info-inner row">
        <div class="col-md-6">
          <div class="event-description my-3">
            <h1><%= @event.title %></h1>
            <h3><%= l @event.datetime, format: :short %></h3>
            <h3><small><%= link_to @event.address,
                                   "https://google.com/maps/place/#{@event.address}" %></small></h3>
            <p><%= @event.description %></p>
          </div>

          <% if current_user_can_edit?(@event) %>
            <div class="mb-3">
              <%= button_to t('views.events.edit.action'),
                            edit_event_path(@event),
                            method: :get,
                            form_class: 'd-inline',
                            class: 'btn btn-primary' %>
              <%= button_to t('views.events.destroy.action'),
                            event_path(@event),
                            form: {data: {turbo_confirm: t('views.events.destroy.confirmation')}},
                            method: :delete,
                            form_class: 'd-inline',
                            class: 'btn btn-danger' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="event-comments mt-3">
        <%= render partial: 'comments/form',
                   locals: {comment: @new_comment || @event.comments.build} %>

        <div class="my-3">
          <%= render partial: 'comments/comment',
                     collection: @event.comments.except(@new_comment) %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="event-owner mb-4">
        <h4><%= t('views.events.show.subscriptions.owner_title') %></h4>
        <p><%= render partial: 'users/user', object: @event.user %></p>
      </div>
      <div class="event-subscriptions mb-4">
        <h4><%= t('views.events.show.subscriptions.guests') %></h4>
        <div>
          <p class="d-inline">
            <%= render partial: 'subscriptions/subscription',
                       collection: @event.subscriptions.except(@new_subscription) %>
          </p>
        </div>
      </div>
      <% if !event_owner?(@event) %>
        <div class="event-subscription-form">
          <h4><%= t('views.events.show.subscriptions.join') %></h4>
          <div>
            <%= render partial: 'subscriptions/form', locals: {
              subscription: @new_subscription || @event.subscriptions.build
            } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
