<%= form_for [@event, photo], html: { multipart: true }, data: { turbo: false } do |f| %>
  <%= render partial: 'partials/form_errors', locals: { errors: photo.errors } %>

  <div class="field mb-3">
    <%= f.label :photo do %>
      <%= f.file_field :photo, id: 'photo-upload-hidden', class: 'd-none' %>
      <span id="photo-upload-btn" class="btn btn-primary"><%= t('views.photos.photo.upload') %></span>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit t('views.photos.photo.upload'), class: 'btn btn-primary d-none' %>
  </div>
<% end %>
