<h1><%= t('views.event_mailer.photo.title') %></h1>
<%= image_tag(@photo.photo.thumb.url) %>
<p><%= t('views.event_mailer.photo.author') %>: <strong><%= @photo.user.name %></strong></p>

<hr/>

<%= t('views.event_mailer.photo.event') %>
<h3>
  <%=sanitize link_to(@event.title, event_url(@event)), tags: %w(a), attributes: %w(href)%>
</h3>

<%= t('views.event_mailer.photo.when') %>
<h4><%= l @event.datetime, format: :short %></h4>

<%= t('views.event_mailer.photo.host') %>
<h4><%= @event.user.name %></h4>