<h1><%= t('views.event_mailer.subscription.title') %></h1>
<p><%= t('views.event_mailer.subscription.name') %>: <strong><%= @name %></strong></p>
<p><%= t('views.event_mailer.subscription.email') %>: <strong><%= link_to @email, "mailto:#{@email}" %></strong></p>
<hr/>

<%= t('views.event_mailer.subscription.event') %>

<h3><%= @event.title %></h3>

<%= t('views.event_mailer.subscription.when') %>
<h4><%= l @event.datetime %></h4>

<%= t('views.event_mailer.subscription.host') %>
<h4><%= @event.user.name %></h4>
