<!DOCTYPE html>
<html>
  <head>
    <title>BbqParty</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to 'BBQ', root_url, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <% if user_signed_in? %>
              <li class="nav-item"><%= link_to 'Profile', current_user, class: 'nav-link' %></li>
              <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link border-0 bg-transparent' %>
            <% else %>
              <li class="nav-item"><%= link_to 'Log in', new_user_session_path, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to 'Register', new_user_registration_path, class: 'nav-link' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-5">

      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
